p {
    border: 5px solid black;
    border-style: double;
    padding: 5px;
    background-color: beige; color: black;
    text-align: center;

}

h1{
    background-color: black; color: lightblue;
    text-align: center;
}

.edulists {
    padding: 2.5px;
}

ol {
    align-items: center;
}
